html {
	background: #fafafa;
	min-height: 100% !important;
  height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: serif;
	font-size: 12px;
	height: 100%;
	overflow-x: hidden;
	min-height: 100% !important;
  height: 100%;
}

img {
	width: 30px;
	height: 20px;
}

header {
	background: #FFFFFF;
}

#root {
	height: 100%;
}

#app {
	height: 100%;
	overflow:scroll;
}

.fontawesome-i2svg-active {
	height: 100%;
}

.fontawesome-i2svg-complete {
	background: 100%;
}

.watch-later-bttn{
	background: black;
  position: absolute;
  bottom: 5px;
  left: 14px;
  color: white;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 15px;
  padding: 10px;
  border-radius: 2px;
  width: 200px;
  display: flex;
  justify-content: center;
	opacity: 0.8;
	text-shadow: 2px 2px black;
	z-index: 200;
}
