.channel-container {
  display: flex;
  flex-direction: column;
}

.user-banner-container {
  height: 200px;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.user-banner {
  background: lightgrey;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-banner-container {
  display: flex;
}

.right-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  align-items: flex-end;
}

.customize-button {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
  height: 10px;
  width: 100%;
  text-align: center;
  margin-right: 24px;
  margin-top: 10px;
  z-index: 2;
}

.finalize-button {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
  height: 10px;
  width: 79px;
  text-align: center;
  z-index: 2;
}

.save-button {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
  height: 10px;
  width: 79px;
  text-align: center;
  margin-right: 10px;
  z-index: 2;
}

.banner-edit-container {
  height: 46px;
  width: 151px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.banner-edit-container-span {
  font-size: 23px;
  cursor: pointer;
  background: #E0E0E0;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 43px;
  height: 46px;
  margin-left: 107px;
}

.banner-edit-container-span svg:hover {
  cursor: pointer;
}

.banner-edit-input {
  width: 43px;
  height: 46px;
  cursor: pointer;
  position: absolute;
  text-indent: -999px;
  margin-left: 54px;
}

.banner-edit-input:hover {
  background: grey;
  opacity: 0.5;
}

.finalize-buttons {
  display: flex;
  width: 230px;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.user-show-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
   padding-top: 20px;
   width: 216px;
}

.user-show-icon span {
  background: #599732;
  border-radius: 54px;
  width: 100px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 0px;
  height: 93px;
  align-items: center;
  margin-left: 93px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px;
}

.avatar-input {
  margin-left: 118px;;
  position: absolute;
  text-indent: -999px;
  cursor: pointer;
  width: 46px;
  height: 40px;
  z-index: 2;
}

.avatar-input:hover {
  background: grey;
  opacity: 0.5;
}

.banner-preview {
  width: 100%;
  position: absolute;
  height: 200px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatarPreview {
  border-radius: 54px;
  width: 100px;
  position: absolute;
  height: 200px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 54px;
  justify-content: center;
  color: white;
  padding: 5px 0px;
  height: 93px;
  align-items: center;
  margin-left: 93px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar-cam {
  color: black;
  font-size: 23px;
  width: 46px;
  height: 40px;
  background: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 118px;
}

.user-info-container {
  display: flex;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  background: #F5F5F5;
}

.user-name-info {
  width: calc(100% - 216px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name-info h1 {
  color: black;
  font-size: 20px;
}

.user-name-info p {
  color: grey;
  font-size: 14px;
}

.subs {
  margin-right: 49px;
}

.nav-subscribe {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
  height: 10px;
  width: 110px;
  text-align: center;
  margin-top: 10px;
  z-index: 2;
}

.nav-subscribed {
  background: green;
  color: white;
  padding: 10px;
  border-radius: 2px;
  height: 10px;
  width: 110px;
  text-align: center;
  margin-top: 10px;
  z-index: 2;
}

.user-toggle-options {
  background: #F5F5F5;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.user-toggle-options ul {
  display: flex;
  margin-left: 93px;
  color: grey;
}

.user-toggle-options ul  li {
  cursor: pointer;
  padding: 0px 40px;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 13px;
  width: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.user-toggle-options ul  li:hover {
  color: black;
}

.selected {
  border-bottom: 3px solid grey;
}

.channel-index {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.channel-index ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.channel-index h1 {
  font-size: 15px;
  font-weight: 600;
  padding: 6px 0px;
}

.channel-index p {
  color: #707070;
  padding-bottom: 13px;
}

.channel-index button {
  background: #E8E8E8;
  padding: 5px 10px;
  color: grey;
  border-radius: 3px;
}

.channel-index ul li div {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.channel-index img {
  width: 110px;
  height: 110px;
  border-radius: 54px;
}

.empty-message {
  color: black;
  margin-left: 20px;
}

.empty-message p {
  color: black;
  font-size: 14px;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.description-header {
  font-family: 'Roboto', 'Noto', sans-serif;
}
.description-header span {
  color: black;
  font-size: 16px;
}

.description-header p {
  color: black;
  padding-top: 20px;
  font-size: 13px;
}

.stats-header {
  font-family: 'Roboto', 'Noto', sans-serif;
  display: flex;
  flex-direction: column;
}

.stats-header span {
  color: black;
  font-size: 16px;
  margin-bottom: 10px;
}

.stats-header p {
  border-top: 1px solid #E8E8E8	;
  padding: 15px 0px;
  max-width: 300px;
  font-size: 13px;
}

.subs-header {
  font-family: 'Roboto', 'Noto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subs-nav-item {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subs-header span {
  color: grey;
  font-size: 14px;
  margin-bottom: 12px;
}

.subs-header img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  border-radius: 18px;
}

.subscribers-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.no-pic-avatar {
  align-items: center;
  width: 30px;
  height: 30px;
  background: green;
  display: flex;
  justify-content: center;
  border-radius: 18px;
  color: white;
}

.channel-no-pic {
  width: 110px;
  height: 110px;
  border-radius: 54px;
  background: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.subs-nav-item button {
  background: #E8E8E8;
  padding: 5px 10px;
  color: grey;
  border-radius: 3px;
  margin-top: 5px;
}

.subs-list-ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #E8E8E8;
}

.subs-nav-item p {
  margin-top: 10px;
}

@media (max-width: 660px) {
  .user-show-icon {
    width: 120px;
  }
  .user-show-icon span {
    margin-left: 10px;
  }

  .avatar-input {
    margin-left: 36px;
  }

  .avatar-cam {
    margin-left: 36px;
  }

  .avatarPreview {
    margin-left: 10px;
  }
  .user-name-info {
    width: calc(100% - 120px);
  }

  .user-toggle-options ul {
    margin-left: 10px;
  }

}
