.comment-content-container {
  display: flex;
  justify-content: center;
   flex-direction: column;
   padding: 10px 0px;
}

.comment-body-body {
  color: black;
  font-size: 14px;
  margin-bottom: 5px;
}

.comment-body-body-edit {
  color: black;
  font-size: 14px;
  margin-bottom: 5px;
  border-bottom: 2px solid #599732;
  width: 100%;
}

.comments-container-num-comments p {
  font-size: 17px;
  margin-left: 25px;
}

.children-comment-container {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.children-comment-container div {
  display: flex;
  margin-right: 20px;
  font-size: 12px;
  align-items: center;
}

.children-comment {
  display: flex;
  font-size: 12px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.comment-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.little-comment-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.little-comment-icon span {
  background: #599732;
  border-radius: 23px;
  width: 30px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 0px;
  height: 30px;
  align-items: center;
  margin-left: 16px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parent-container {
  display: flex;
  position: relative;
}

.comment-icon span {
  background: #599732;
  border-radius: 23px;
  width: 41px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 0px;
  height: 40px;
  align-items: center;
  margin-left: 16px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment-body {
  display: flex;
  align-items: center;
}

.comment-body p {
  font-weight: 600;
  color: black;
  padding-right: 10px;
  font-size: 14px;
}

.comment-body span time {
  font-size: 12px;
}

.hover-comment-container {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 70px);
}

.hover-comment {
  width: 100%;
}

.opitions {
  color: grey;
  font-size: 14px;
  width: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 20px;
  align-items: center;
  padding: 5px;
  position: relative;
}

.opitions:active {
  background: #ccc;
  border-radius: 20px;
}

.hiddenoption {
  color: transparent;
  font-size: 14px;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.comment-like-count {
  font-size: 12px;
  margin-left: 7px;
}

.view-all-replies {
  color: #383838;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.reply-comment {
  cursor: pointer;
  padding: 10px;
}

.reply-comment:active {
  background: lightgrey;
  color: black;
  border-radius: 3px;
}

.child-comment-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.child-comment-input {
  width: 100%;
  display: flex;
}

.sub-comment-buttons {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.new-comment {
  border-bottom: 1px solid lightgrey;
  resize: none;
  font-size: 14px;
  font-weight: 200;
  height: 18px;
  width: calc(100% - 76px);
}

.new-comment:focus {
  border-bottom: 2px solid #599732;
}

.toggleCommentOptionsDD {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 103px;
  padding: 5px 0px;
  right: 0px;
  background: white;
  box-shadow: 0.02em 0.1em 0.3em 0.015em #999999;
  z-index: 11;
  top: -1px;
  font-family: 'Roboto', 'Noto', sans-serif;
  color: black;
  font-size: 12px;
}

#edit-comment {
  padding: 5px;
  z-index: 14;
}

#edit-comment:hover {
  background: #F0F0F0;
}

#delete-comment {
  padding: 5px;
  z-index: 14;
}

#delete-comment:hover {
  background: #F0F0F0;
}

.children-comment-left {
  display: flex;
}

.children-comment-right {
  display: flex;
  margin: 0px;
}

.comment-likes {
  cursor: pointer;
}

.comment-likes:hover {
  color: black;
}

.comment-sort {
  cursor: pointer;
}

.comment-sort-dd-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0.5rem 0rem;
  box-shadow: 0.02em 0.1em 0.3em 0.015em #999999;
  z-index: 2;
}

.comment-select {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  color: black;
  font-size: 13px;
  border-top: 3px solid #0099ff;
  border-bottom: 3px solid #0099ff;
}

.comment-unselect {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  color: black;
  font-size: 13px;
}

.comment-sort-dd-container span:hover {
  background: #F0F0F0;
}

@media (max-width: 467px) {
  .children-comment-right {
    flex-direction: column;
  }

  .children-comment {
    align-items: flex-start;
  }
}
