.comment-content-container {
  display: flex;
  align-items: center;
}

.comment-content-container p {
  color: black;
  font-size: 14px;
}

.comments-container-num-comments p {
  font-size: 17px;
  margin-left: 25px;
}

.comment-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.comment-icon span {
  background: #599732;
  border-radius: 23px;
  width: 41px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 0px;
  height: 40px;
  align-items: center;
  margin-left: 16px;
}

.comment-body {
  display: flex;
  align-items: center;
}

.comment-body p {
  font-weight: 600;
  color: black;
  padding-right: 10px;
  font-size: 14px;
}

.comment-body span time {
  font-size: 12px;
}
