.video-drop-down {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow:0.02em 0.1em 0.3em 0.015em #999999;
  width: 165px;
  padding: 0.5rem 0rem;
}

.video-drop-down-container {
  width: 305px;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: flex-end;
}

.app-drop-down {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow:0.02em 0.1em 0.3em 0.015em #999999;
  width: 165px;
  padding: 0.5rem 0rem;
}

.app-drop-down-container {
  width: 305px;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: flex-start;
}

.setting-drop-down {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow:0.02em 0.1em 0.3em 0.015em #999999;
  width: 165px;
  padding: 0.5rem 0rem;
}

.setting-drop-down-container {
  width: 305px;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: flex-start;
}

.user-drop-down {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow:0.02em 0.1em 0.3em 0.015em #999999;
  width: 250px;
  padding: 0.5rem 0rem;
}

.user-drop-down-container {
  width: 450px;
  height: 300px;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: flex-start;
}

.drop-down-list-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.drop-down-list-item:hover {
  background: #F0F0F0;
}

.drop-down-list-item div {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 14px;
  color: #505050;
}

.drop-down-list-item span {
  margin-right: 18%;
}

.drop-down-list-item div span {
  color:   #0099ff;
  border: 2px solid #989898;
  border-radius: 3px;
  font-size: 10px;
  padding: 3px;
  display: flex;
  justify-content: center;
  background: white
}

@media (max-width: 700px) {
  .video-drop-down-container {
    justify-content: flex-start;
  }
  .app-drop-down-container {
    justify-content: flex-start;
  }

  .user-drop-down-container {
    width: 465px;
  }

}
