.main-nav {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  border-bottom: 2px solid #f8f8f8;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
	margin-left: 20px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding: 7px 9px;
	transition: background-color 0.3s;
}

.left-nav li {
  display: flex;
  align-items: center;
}

.left-nav img {
  margin-right: 5px;
}

.right-nav {
  display: flex;
  align-items: center;
}
.right-nav > ul > li {
	margin-right: 20px;
  padding: 7px 9px;
	cursor: pointer;
}

.nav-search {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  width: 40%;
  border-radius: 3px;
}

.search-container {
  width: 100%;
  display: flex;
  height: 100%;
  color: grey;
}

.search-container input {
  width: 90%;
  height: 100%;
  padding-left: 10px;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: black;
}

.search-container input:focus {
  border: 0.5px solid #0000CD;
}

.search-container input::placeholder {
  color: #808080;
}

.search-container button {
  width: 10%;
  display: flex;
  justify-content: center;
  height: 100%;
  border-left: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 0 2px 2px 0;
}

.search-container button:hover {
  background: #F0F0F0;
}
