.main-nav {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  border-bottom: 2px solid #f8f8f8;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
	margin-left: 20px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding: 7px 9px;
	transition: background-color 0.3s;
}

.left-nav li {
  display: flex;
  align-items: center;
}

.left-nav img {
  margin-right: 5px;
}

.right-nav {
  display: flex;
  align-items: center;
}
.right-nav > ul > li {
	margin-right: 20px;
  padding: 7px 9px;
	cursor: pointer;
}

.nav-search {
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 40%;
}
