#modal-background {
  transition: max-height 300ms ease-out;
  height: 0px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  z-index: 4;
}

#modal-background.modal-id-y {
  min-height: 0px;
}

#modal-background.modal-id-n {
  height: 100%;
}

#modal-child {
  transform: translateX(-255px);
  transition: transform 170ms ease-in;
  position: absolute;
}

#modal-child.modal-child-y {
  transform: translateX(0);
}

#modal-child.modal-child-n {
  transform: translateX(-255px);
}
