.modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(242,242,242,.9);
  z-index: 1;
  display: inline-block;
}

.modal-child {
  position: absolute;
}
