.results-container {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  flex-direction: column;
}

.results-container ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
}

.video-result-container {
  display: flex;
  padding-bottom: 10px;
}

.video-result-thumb {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 160px;
  background: black;
  display: flex;
  justify-content: center;
}

.video-result-thumb video {
  background: black;
  cursor: pointer;
  object-fit: cover;
}

.user-result-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 250px;
   height: 160px;
}

.user-result-icon span {
  display: block;
  height: 160px;
  width: 160px;
  line-height: 160px;
  -moz-border-radius: 50%;
  border-radius: 50%; /* or 50% */
  color: white;
  text-align: center;
  font-size: 2em;
  align-items: center;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-result-container {
  display: flex;
  padding-bottom: 10px;
}

.user-result-left {
  width: 80%;
}

.result-play-button {
  position: absolute;
  right: 96px;
  bottom: 48px;
  color: white;
  font-size: 41px;
  font-weight: 500;
  padding: 2px 4px;
  margin: 4px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.result-clock {
  position: absolute;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
  bottom: 123px;
  color: white;
  letter-spacing: .5px;
  font-size: 20px;
  font-weight: 500;
  padding: 2px 4px;
  margin: 4px;
  background: #111111;
  color: white;
  opacity: 0.8;
  border-radius: 2px;
  font-family: 'Roboto', 'Noto', sans-serif;
  cursor: pointer;
}

.result-check {
  position: absolute;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
  bottom: 123px;
  color: white;
  letter-spacing: .5px;
  font-size: 20px;
  font-weight: 500;
  padding: 2px 4px;
  margin: 4px;
  background: #111111;
  color: white;
  opacity: 0.8;
  border-radius: 2px;
  font-family: 'Roboto', 'Noto', sans-serif;
  cursor: pointer;
}

.result-options {
  display: flex;
  position: relative;
  width: 30px;
}

.result-top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.video-result-author:hover {
  color: black;
  cursor: pointer;
}

.user-result-containter-name {
  display: flex;
  color: grey;
  align-items: center;
  font-size: 0.8rem;
}

@media (max-width: 660px) {
  .user-result-right {
    display: none;
  }
}

@media (max-width: 590px) {
  .user-result-containter-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 30px;
    overflow: hidden;
  }
}
