.search-results {
  position: absolute;
  top: 34px;
  background: white;
  width: 90%;
  color: black;
  font-weight: 600;
  box-shadow: 0.02em 0.1em 0.3em 0.015em #999999;
  z-index: 11;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.search-results-night {
  position: absolute;
  top: 34px;
  background: #282828;
  width: 90%;
  color: white;
  font-weight: 600;
  box-shadow: 0.02em 0.1em 0.3em 0.015em black;
  z-index: 11;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.search-results ul {
  padding: 10px 0px;
}

.search-results-night ul {
  padding: 10px 0px;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
}

.search-results-night li {
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background: #F0F0F0;
}

.search-results-night li:hover {
  background: #404040;
}

.video-result-info {
  width: calc(100% - 260px);
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.video-result-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: #484848;
  max-height: 42px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.5;
  width: calc(100% - 30px);
}

.video-result-stats {
  display: flex;
  color: grey;
  align-items: center;
  font-size: 0.8rem;
}

.result-dot-seperator {
  font-size: 5px;
  margin: 0px 5px;
}

.video-result-description {
  margin-top: 10px;
  display: flex;
  display: flex;
  color: grey;
  font-size: 0.8rem;
  max-height: 42px;
  text-overflow: ellipsis;
  width: 90%;
  overflow: hidden;
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.new-status {
  margin-top: 30px;
  background: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  color: grey;
}

.results-num {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #484848;
  font-family: 'Roboto', 'Noto', sans-serif;
  margin-bottom: 20px;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 10px;
}

.user-result-info-containter {
  width: calc(100% - 240px);
  display: flex;
  padding-left: 20px;
  font-family: 'Roboto', 'Noto', sans-serif;
  justify-content: space-between;
}

.user-result-containter {
  display: flex;
  color: grey;
  align-items: center;
  font-size: 0.8rem;
}

.user-result-name {
  font-size: 0.9rem;
  font-weight: 600;
  color: #484848;
}

.user-result-containter {
  display: flex;
}

@media (max-width: 1128px) {
  .search-results {
    width: calc(100% - 50px);
  }

  .search-results-night {
    width: calc(100% - 50px);
  }
}

@media (max-width: 590px) {
  .new-status {
    margin-top: 5px;
  }

  .video-result-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 30px;
    overflow: hidden;
  }

  .result-dot-seperator {
    display: none;
  }
}
