.side-bar-container {


}


.side-bar {
  display: flex;
  flex-direction: column;
	opacity: 1;
	width: 255px;
  height: 100vh;
  background-color: #fafafa;
  overflow: scroll;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.side-bar span {
	padding: 10px 0px;
	text-align: left;
  background: white;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F5F5F5;
}

.side-bar-logo {
  display: flex;
  align-items: center;
  padding: 7px 9px;
  margin-left: 20px;
}

.side-bar span p {
  font-size: 15px;
  font-weight: 600;
}

.side-bar span svg {
  font-size: 18px;
  color: #989898;
}

.side-bar span img {
  margin-right: 5px;
  margin-top: 0.5px;
}

.side-bar span nav:active {
  background: #ccc;
  border-radius: 20px;
}

.side-bar span nav {
  padding: 8px 9px;
  width: 18px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.side-bar-section-one {
  padding-top: 10px;
}
.side-bar-section-one div {
  display: flex;
  padding: 30px 30px;
  font-size: 18px;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
}

.side-bar-section-one div:hover {
  background: #F0F0F0;
}

.side-bar-section-one div nav {
  width: 30px;
}

.side-bar-section-one div svg {
  color: #989898;
}

.side-bar-section-one p {
  font-size: 13px;
}

@media (max-width: 450px) {
  .side-bar-logo {
    margin-left: 0px;
  }
}
