.side-bar {
  display: flex;
	opacity: 1;
	width: 255px;
  height: 100vh;
  background-color: white;
  overflow: scroll;
}

.side-bar ul {
	padding: 10px 20px 20px 20px;
	width: 100%;
	text-align: left;
  background: white;
  position: relative;
  cursor: pointer;
}

.side-bar ul li {
	margin: 0;
	padding: 5px;
	border-radius: 5px;
	position: relative;
}
