.side-bar {
  display: flex;
  flex-direction: column;
	opacity: 1;
	width: 255px;
  height: 100vh;
  background-color: white;
  overflow: scroll;
}

.side-bar span {
	padding: 15px;
	text-align: left;
  background: white;
  position: relative;
  cursor: pointer;

}

.side-bar span svg {
  font-size: 18px;
  color: #989898;
  margin-left: 20px;
}
