.video-show-container {
  height: 100%;
  width:100%;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.video-player-container h1 {
  color: black;
  font-size: 1.1rem;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 */
  background: black;
  width: 100%;
  height: 0;
}

.video-player{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
};

.vid-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%    !important;
  height: 50px   !important;
  display: flex;
  align-items: center;
}

.vid-controls div {
  margin-left: 30px;
  font-size: 20px;
  color: #F8F8F8;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}

.vid-controls div span {
  cursor: pointer;
}

.video-stats {
  display: flex;
  justify-content: space-between;
  color: grey;
  align-items: center;
  font-size: 1rem;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid 	#E8E8E8;
}

.video-stats div {
  display: flex;
}

.video-stats div span {
  display: flex;
}

.total-views {
  height: 17px !important;
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
}

.video-show-likes {
  cursor: pointer;
}

.video-show-likes:hover {
  color: black;
  p {
    color: grey;
  }
}

.video-show-likes p {
  padding: 0px 30px 0px 10px;
  max-width: 150px;
  overflow: hidden;
}

.video-show-dislikes p {
  padding-left: 10px;
  max-width: 150px;
  overflow: hidden;
}

.video-show-dislikes {
  cursor: pointer;
}

.video-show-dislikes:hover {
  color: black;
  p {
    color: grey;
  }
}

.sub-video-container {
  display: flex;
  flex-direction: column;
}

.video-description {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
}

.video-description button {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
}

.uploader-container {
  display: flex;
  align-items: center;
}

.uploader-container div p {
  font-weight: 600;
  font-size: 14px;
}

.uploader-container div nav {
  color: grey;
  font-size: 12px
}

.uploader-div {
  margin-right: 10px;
  padding: 2px 9px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.uploader-div span {
  background: #599732;
  border-radius: 23px;
  width: 50px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 0px;
  height: 50px;
  align-items: center;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  display: flex;
  align-items: flex-start;
  height: 110px;
  border-bottom: 1px solid #E8E8E8;
  height: 130px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

.expand-description {
  display: flex;
  align-items: flex-start;
  min-height: 130px;
  border-bottom: 1px solid #E8E8E8;
  height: 100%;
}

.description div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  height: 120px;
  flex-direction: column;
}

.expand-description div {
  display: flex;
  align-items: flex-start;
  height: 100%;
  min-height: 120px;
  flex-direction: column;
  word-break: break-all;
  overflow-wrap: break-word;
}

.description-main {
  margin-left: 80px;
  font-size: 13px;
  line-height: 1.6;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-height: 100px;
  min-width: 76px;
  min-height: 100px;
  word-break: break-all;
  overflow-wrap: break-word;
}

.expand-description-main {
  margin-left: 80px;
  font-size: 13px;
  line-height: 1.6;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  min-width: 76px;
  min-height: 100px;
}

.description-show-more {
  color: grey;
  cursor: pointer;
  margin-left: 80px;
  padding: 0px 0px;
}

.expand-description-show-more {
  color: grey;
  cursor: pointer;
  margin-left: 80px;
}

.comments-container {
  padding-top: 15px;
}

.comments-container-num-comments {
  display: flex;
  align-items: center;
}

.comments-container span {
  font-size: 16px;
}

.comments-container nav {
  padding-left: 10px;
  font-size: 17px;
  color: grey;
}

.user-comment-div-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.user-comment-div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.user-comment-div span {
  background: #599732;
  border-radius: 23px;
  width: 41px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 0px;
  height: 40px;
  align-items: center;
  margin-left: 16px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-comment-div input {
  border-bottom: 1px solid lightgrey;
  resize: none;
  font-size: 14px;
  font-weight: 200;
  height: 18px;
  width: calc(100% - 76px);
}

.user-comment-div input:focus {
  border-bottom: 2px solid green;

}

.comment-button-container {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
  width: 70px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.no-submit-button {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
  width: 70px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  opacity: 0.4;
  cursor: inherit;
}

.cancel-button {
  color: grey;
  padding: 10px;
  border-radius: 2px;
  width: 70px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  font-size: 14px;
}

.cancel-button:active {
  background: lightgrey;
}

.cancel-button:hover {
  color: black;
}

.hidden {
  display: none;
}
