.video-show-container {
  height: 100%;
  width:100%;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.video-player-container h1 {
  color: black;
  font-size: 1.1rem;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-container {
  display: contain;
  justify-content: center;
  background: black;
  overflow: hidden;
  width: 100%;
}

.video-player {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.video-stats {
  display: flex;
  justify-content: space-between;
  color: grey;
  align-items: center;
  font-size: 1rem;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid 	#E8E8E8;
}

.video-stats div {
  display: flex;
}

.video-stats div span {
  display: flex;
}

.total-views {
  height: 17px !important;
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
}

.video-show-likes {
  cursor: pointer;
}

.video-show-likes:hover {
  color: black;
  p {
    color: grey;
  }
}

.video-show-likes p {
  padding: 0px 30px 0px 10px;
  max-width: 150px;
  overflow: hidden;
}

.video-show-dislikes p {
  padding-left: 10px;
  max-width: 150px;
  overflow: hidden;
}

.video-show-dislikes {
  cursor: pointer;
}

.video-show-dislikes:hover {
  color: black;
  p {
    color: grey;
  }
}

.sub-video-container {
  display: flex;
  flex-direction: column;
}

.video-description {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
}

.video-description button {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
}

.uploader-container {
  display: flex;
  align-items: center;
}

.uploader-container div p {
  font-weight: 600;
  font-size: 14px;
}

.uploader-container div nav {
  color: grey;
  font-size: 12px
}

.uploader-div {
  margin-right: 10px;
  padding: 2px 9px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.uploader-div span {
  background: #599732;
  border-radius: 23px;
  width: 50px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 0px;
  height: 50px;
  align-items: center;
}

.description {
  display: flex;
  align-items: flex-start;
  height: 110px;
  border-bottom: 1px solid #E8E8E8;
  height: 130px;
}

.expand-description {
  display: flex;
  align-items: flex-start;
  min-height: 130px;
  border-bottom: 1px solid #E8E8E8;
  height: 100%;
}

.description div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  height: 120px;
  flex-direction: column;
}

.expand-description div {
  display: flex;
  align-items: flex-start;
  height: 100%;
  min-height: 120px;
  flex-direction: column;
}

.description-main {
  margin-left: 80px;
  font-size: 13px;
  line-height: 1.6;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-height: 100px;
  min-width: 76px;
  min-height: 100px;
}

.expand-description-main {
  margin-left: 80px;
  font-size: 13px;
  line-height: 1.6;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  min-width: 76px;
  min-height: 100px;
}

.description-show-more {
  color: grey;
  cursor: pointer;
  margin-left: 80px;
  padding: 0px 0px;
}

.expand-description-show-more {
  color: grey;
  cursor: pointer;
  margin-left: 80px;
}
