.video-index-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.video-index {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  flex-direction: column;
}

.video-index ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-index ul li {
  display: flex;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 15px;
  flex-direction: column;
}

.video-index ul li video {
  background: black;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.video-index ul li p {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-weight: 900;
  font-size: 14px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-author-views {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 13px;
  color: grey;
  font-weight: 400;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-author-views div {
  display: flex;
  align-items: center;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-author-views a {
  min-width: 50px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-author-views a:hover {
  color: black
}

.dot-seperator {
  display: flex;
  margin: 0px 5px;
}

.video-author-views svg {
  font-size: 5px;
}

.video-index h1 {
  display: flex;
  font-family: 'Roboto', 'Noto', sans-serif;
  color: var(--yt-primary-color);
  max-height: 2rem;
  overflow: hidden;
  font-size: 18px;
  font-weight: 900;
  line-height: 2rem;
}

.video-header {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.video-header button {
  background: #0099ff;;
  color: white;
  padding: 10px;
  border-radius: 2px;
}

.video-header div {
  display: flex;
  align-items: center;
}

.video-header span {
  color: #989898;
  font-size: 18px;
  margin-left: 10px;
}

.video-thumb{
  position: relative;
  width: 220px;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.video-duration {
  position: absolute;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
  bottom: 5px;
  color: white;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
  margin: 4px;
  background: #111111;
  color: white;
  opacity: 0.8;
  border-radius: 2px;
  font-family: 'Roboto', 'Noto', sans-serif;
  cursor: pointer;
}

.no-video-duration {
  display: none;
}

.play-button {
  position: absolute;
  right: 88px;
  bottom: 38px;
  color: white;
  font-size: 35px;
  font-weight: 500;
  padding: 2px 4px;
  margin: 4px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.no-play-button {
  display: none;
}

.video-index-author:hover {
  color:black;
}

.video-index-title {
  display: flex;
  align-items: flex-start;
  margin-top: 7px;
  position: relative;
}

.video-index-options-dd {
  width: 30px;
  height: 30px;
  color: grey;
  display: flex;
  justify-content: center;
  font-size: 16px;
  z-index: 10;
  position: absolute;
  right: 0;
  align-items: center;
}

.video-index-options-dd:active {
  background: #ccc;
  border-radius: 20px;}

.video-index-options-dd-hidden {
  display: none;
}

.clock {
  position: absolute;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
  bottom: 90px;
  color: white;
  letter-spacing: .5px;
  font-size: 20px;
  font-weight: 500;
  padding: 2px 4px;
  margin: 4px;
  background: #111111;
  color: white;
  opacity: 0.8;
  border-radius: 2px;
  font-family: 'Roboto', 'Noto', sans-serif;
  cursor: pointer;
}

.check {
  position: absolute;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 3px;
  bottom: 95px;
  color: white;
  letter-spacing: .5px;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 4px;
  margin: 4px;
  background: #111111;
  color: white;
  opacity: 0.8;
  border-radius: 2px;
  font-family: 'Roboto', 'Noto', sans-serif;
  cursor: pointer;
}

.show {
  color: black;
}

.no-clock {
  display: none;
}

.toggleOptionsDD {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 103px;
  padding: 5px 0px;
  right: 0px;
  background: white;
  box-shadow: 0.02em 0.1em 0.3em 0.015em #999999;
  z-index: 11;
  top: -1px;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.toggleOptionsDD span {
  padding: 5px;
  z-index: 14;
}

.toggleOptionsDD span:hover {
  background: #F0F0F0;
}

@media (max-width: 449px) {
  .video-header span {
    margin-left: 0px;

 }

}
