.video-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  z-index: 14;

}

.video-modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.close-x {
  cursor: pointer;
  font-style: bold;
  color: #696969;
  font-size: 30px;
  text-align: right;
  margin: 10px 20px;
  font-family: 'Poiret One', cursive;
  font-family: 'Quattrocento Sans', sans-serif;

}

.change-video-container {
  height: 200px;
  min-width: 600px;
  padding: 50px;
  background: white;
  box-shadow:0.02em 0.1em 0.3em 0.015em #999999;
  border-radius: 10px;
  display: flex;
   justify-content: space-between;
   font-family: 'Roboto', 'Noto', sans-serif;
}

.edit-video-gif {
  border: 2px solid grey;
}

.change-video-container input {
  background: white;
  border: 2px solid green;
  height: 25px;
  padding: 0px 10px;
  width: 333px;
  margin-bottom: 20px;
}

.change-video-container p {
  height: 25px;
  padding: 0px 10px;
  width: 333px;
  margin-bottom: 20px;
  font-weight: 600;
}

.change-video-container textarea {
  height: 88px;
  border: 2px solid green;
  padding: 5px 5px;
  resize: none;
}

.edit-video-gif {
  background: black;
}

.video-edit-info-inputs {
  display: flex;
  flex-direction: column;
}

.change-vid-button {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.change-vid-button button {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
  width: 67px;
  text-align: center;
}

.delete-button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 111px;
  width: 328px;
  margin-top: 37px;
}

.delete-button-container span {
  color: grey;
  font-size: 20px;
}

.delete-button-container button {
  background: #0099ff;
  color: white;
  padding: 10px;
  border-radius: 2px;
  width: 67px;
  text-align: center;
}
