.related-video-container {
  display: flex;
  padding-bottom: 10px;
}

.related-video-thumb {
  position: relative;
  overflow: hidden;
  min-width: 180px;
  width: 180px;
  height: 110px;
}

.related-video-container video {
  background: black;
  cursor: pointer;
  object-fit: cover;
}

.related-video-info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 180px);
  margin-left: 6px;
}

.related-video-info p {
  color: black;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.related-video-index-title {
  display: flex;
  align-items: flex-start;
  margin-top: 7px;
  position: relative;
}

.related-video-index-options-dd {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  color: grey;
  position: absolute;
  right: 10px;
}

.related-video-index-options-dd-hidden {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  color: transparent;
  position: absolute;
  right: 10px;
}
