.related-video-container {
  display: flex;
  padding-bottom: 10px;
}

.related-video-thumb {
  position: relative;
  overflow: hidden;
  min-width: 180px;
  width: 180px;
  height: 110px;
  background: black;
  display: flex;
  justify-content: center;
}

.related-video-container video {
  background: black;
  cursor: pointer;
  object-fit: cover;
}

.related-video-info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 180px);
  margin-left: 6px;
}

.related-video-info p {
  color: black;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.related-video-index-title {
  display: flex;
  align-items: flex-start;
  margin-top: 7px;
  position: relative;
}

.related-video-index-options-dd {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  color: grey;
  position: absolute;
  right: 10px;
  font-size: 16px;
}

.related-video-index-options-dd-hidden {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  color: transparent;
  position: absolute;
  right: 10px;
  font-size: 16px;
}

.related-play-button {
  position: absolute;
  right: 60px;
  bottom: 30px;
  color: white;
  font-size: 35px;
  font-weight: 500;
  padding: 2px 4px;
  margin: 4px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.related-clock {
  position: absolute;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
  bottom: 75px;
  color: white;
  letter-spacing: .5px;
  font-size: 20px;
  font-weight: 500;
  padding: 2px 4px;
  margin: 4px;
  background: #111111;
  color: white;
  opacity: 0.8;
  border-radius: 2px;
  font-family: 'Roboto', 'Noto', sans-serif;
  cursor: pointer;
}
